In [1]:
import numpy as np
import pandas as pd

In [17]:
df = pd.DataFrame(np.random.randint(5, size=(10, 4)), columns=list('ABCD'))

def f(d):
    return d['A'] + d['B']

df['E'] = df.apply(f, axis=1)
df

   A  B  C  D  E
0  3  1  3  0  4
1  4  1  4  4  5
2  4  3  4  3  7
3  1  2  1  0  3
4  1  2  2  4  3
5  4  3  4  3  7
6  3  4  0  1  7
7  3  1  1  0  4
8  0  2  4  0  2
9  2  4  1  2  6